<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header th:replace="partials/header :: header('&#9904; Posts &#9904;')"></header>



    <body class="d-flex flex-column min-vh-100">

        <nav th:replace="partials/navbar :: navbar" />

        <div class="container">

            <header th:replace="partials/header :: header('&#9904 Post &#9904')"></header>

            <div style="font-family: 'Roboto'">
                <h3 th:text="${post.title}" />>
                <p th:text="${post.body}" />
                <button>Edit</button>

                <p th:text="${post.getId()}" />

                <!-- <p th:text="${post.postDetails.historyOfPost}"></p> -->

                <p><a th:text="${post.getId()}" href="/posts/{id}/edit">Edit Post</a></p>

                

            </div>
        </div>

        <footer th:replace="partials/footer :: footer" />
        <th:block th:replace="partials/scripts :: scripts" />
    </body>

</html>