<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>&dagger; Post &dagger;</title>
    <th:block th:replace="partials/styles :: styles" />
</head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar" />
<header th:replace="partials/header :: header('&dagger; Post &dagger;')"></header>

<div style="font-family: 'Roboto'">
    <h3 th:text="${post.title}"/>
    <p th:text="${post.body}"/>
</div>

<footer th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>