<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>&coffin; Post &coffin;</title>
    <th:block th:replace="partials/styles :: styles" />
</head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar" />
<header th:replace="partials/header :: header('&#9904 Post &#9904')"></header>

<div style="font-family: 'Roboto'">
    <h3 th:text="${post.title}"/>
    <p th:text="${post.body}"/>
<!--    <p th:text="${post.}"/>-->
</div>

<footer th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>