<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>&coffin; Index &coffin;</title>
    <th:block th:replace="partials/styles :: styles" />
</head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar" />
<!--<header th:replace="partials/header :: header('&dagger; Posts &dagger;')"></header>-->


<main>

    <div class="card" style="font-family: 'Roboto', sans-serif; font-size: 18px; background-color: #BDE0FE" th:each="ad : ${ads}">
        <h3 th:text="${ad.title}"/>
        <p th:text="${ad.description}"/>
    </div>

</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>