<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${'AMG >^.^< '}"></title>
    <!-- include stylesheets, etc here -->
</head>
<body>
<nav th:fragment="navbar">
    <!-- awesome navbar goes here -->
    <h3>Navigation</h3>
    <ul>
        <li>link 1</li>
        <li>link 2</li>
    </ul>
</nav>
<th:block th:fragment="footer">
    <footer>
        A. M. G. Spring Blog @ 2021
    </footer>
</th:block>
</body>
</html>