<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('&#9904; Sign up &#9904;')"></header>



<div style="text-align: center;">
<header class="header">
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="left-content">
<!--        <nav th:replace="partials/navbar :: navbar"></nav>-->

        <p class="para">
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label for="username">Username</label>
            <input id="username" th:field="*{username}" />

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" />

            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" />

            <input value="Sign me up!" type="submit" />
        </form>

        <p>Already registered? <a href="/login">Log in</a></p>
        
    </div>
</header>
</div>


<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>