<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>&dagger; Home &dagger;</title>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <th:block th:replace="partials/styles :: styles" />
    <style>
    body {
    background: linear-gradient(-45deg, #cdb4db, #ffafcc, #bde0fe, #a2d2ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<header th:replace="partials/header :: header('&#9904; Welcome &#9904;')"></header>-->
<h1 class="text-light" style="text-align: center;">Welcome to BlogStar! Feel free to join in on the blogging fun!</h1>

<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
    <a href="/login" class="d-block btn btn-outline-light"><i class="fas fa-sign-in-alt"></i>Log In</a>
    <a href="/sign-up" class="d-block btn btn-outline-light"><i class="fas fa-user-plus"></i>  Sign up</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>

<img id="unicorn" src="/img/unicorn.png" alt="pastel unicorn" style="width:500px;display: block;margin-left: auto;margin-right: auto;">


<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>